.app {
  background-color: var(--bg-color);
  font-family: var(--font-base);

}

.app__mainbg {
  background-color: var(--bg-color);
}


.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.p-text {
  font-size: 24px;
  text-align: left;
  color: var(--black-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}



  


